{% extends "base.html" %}
	{% block content %}
		{% for post in posts %}
		<h2> {{ post.title }}</h2>
		<a href="{{ post.link }}"> 链接 ←戳  </a>
		<span> {{ post.pub_date | date:" n-d "}} , {{ post.pub_date | time:" H:i "}}</span>
		{% endfor %}
		<br>
		  <ul class="pagination">
		    {% if posts.has_previous %}
		      <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
		    {% else %}
		      <li class="disabled"><a href="#">&laquo;</a></li>
		    {% endif %}

	    	<li>
	    		<span>
	            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
	        	</span>
	        </li>

		    {% if posts.has_next %}
		      <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
		    {% else %}
		      <li class="disabled"><a href="#">&raquo;</a></li>
		    {% endif %}
		  <ul>


	{% endblock %}